html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background: url(/static/img/pJewmf8.jpg);
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -50px;
  padding-bottom: 50px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 50px;
  background-color: #e5e5e5;
  font-size: 80%
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
#footer {
  background-color: #000;
}
nav {
  height: 52px;
  margin-bottom: 1em;
  border-bottom: 1px solid #fff;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  background-color: deepskyblue;
}
.navbar-brand .span1 {
  color: deeppink;
}
.navbar-brand .span2 {
  color: deepskyblue;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
  font-family: "Helvetica", san-serif;
  color: #fff;
  letter-spacing: 0.2em;
}
.tagline p {
  color: #000;
  font-size: 120%;
}
div.content {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 13px #000;
}

form.problem {
  padding: 1em;
  border-radius: 1em;
}
div.problem {
  font-size: 300%;
}
div.problem hr {
  border-top-color: black;
}
div.answer,
div.operand {
  text-align: right;
}
div.operation {
  float: left;
  position: relative;
  top: 1.5em;
}
div.answer input {
  font-size: 200%;
  text-align: right;
}
div.problempanel {
  position: relative;
}
div.feedback {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 150%;
}
div.feedback div.success,
div.feedback div.fail {
  border: 5px solid #000;
  border-radius: 125px;
  padding: 0.25em;
  line-height: 0;
}
div.feedback div.success {
  background-color: lightgreen;
  border-color: green;
  color: green;
}
div.feedback div.fail {
  background-color: pink;
  border-color: red;
  color: red;
}

